# Capstone Project Phase-1

Here in this project we need to collect the data which is needed to complete this project.

1. Population of each state.

2. Literacy Rate of each state.

3. Area of each State.

Capstone project is all about India and its population , crime , Literacy rate of all the states. In this project we need to find all the data and analysis it.

Here we need to collect all the above data and create file .There are some below link from where data is collected .

1. Link for population :::: https://pwonlyias.com/largest-states-of-india/

2. Link for Literacy :: https://www.findeasy.in/indian-states-by-literacy-rate/

3. Link for area of state ::: https://pwonlyias.com/largest-states-of-india/

Here is the below table for phase-1.

In [1]:
import pandas as pd

In [8]:
sttble = pd.read_csv('statepopulation.csv')
sttble

    S.No               Name   Population  Literacy Rate Area of Each State
0      1     Andhra Pradesh   84,580,777          66.40            162,968
1      2  Arunachal Pradesh    1,458,545          66.95             83,743
2      3              Assam   31,205,576          85.90             78,438
3      4              Bihar  104,099,452          70.90             94,163
4      5       Chhattisgarh   25,351,462          77.30            135,191
5      6                Goa    1,458,502          87.40              3,702
6      7            Gujarat   60,439,692          82.40            196,024
7      8            Haryana   25,545,198          80.40             44,212
8      9   Himachal Pradesh    6,864,602          86.60             55,673
9     10          Jharkhand   32,988,134          74.30             79,714
10    11          Karnataka   61,095,297          77.20            191,791
11    12             Kerala   33,406,061          96.20             38,963
12    13     Madhya Pradesh   72,626,809          73.70            308,245
13    14        Maharashtra  112,372,333          84.80            307,713
14    15            Manipur    2,855,794          79.85             22,327
15    16          Meghalaya    2,966,889          75.48             22,429
16    17            Mizoram    1,097,206          91.58             21,081
17    18           Nagaland    1,978,502          80.11             16,579
18    19             Odisha   41,974,218          77.30            155,707
19    20             Punjab   27,743,338          83.70             50,362
20    21          Rajasthan   68,548,437          69.70            342,239
21    22             Sikkim      610,577          82.20              7,096
22    23         Tamil Nadu   72,147,030          82.90            130,058
23    24          Telangana   35,198,978          72.80            112,077
24    25            Tripura    3,673,917          87.75             10,486
25    26      Uttar Pradesh  199,812,341          73.00            240,928
26    27        Uttarakhand   10,086,292          87.60             53,483
27    28        West Bengal   91,276,115          80.50             88,752

In [10]:
uttble = pd.read_csv('UTpopulation.csv')
uttble

,S.No,Name,Population,Literacy Rate,Area of Each State
0,1,Jammu and Kashmir,"12,267,013",77.30,"125,535"
1,2,Ladakh,"274,289",90.29,"96,701"
2,3,Andaman and Nicobar Islands,"380,581",86.63,"8,249"
3,4,Delhi,"16,787,941",88.70,"1,484"
4,5,Daman and Diu,"5,86,956",87.07,603
5,6,Puducherry,"1,247,953",86.55,479
6,7,Chandigarh,"1,055,450",86.43,114
7,8,Lakshadweep,"64,473",91.85,32.62

As per above we have 2 table for statewise and another for Union Territiors.

The above table contain 3 columns in first phase Population , Literacy Rate , Area of Each State.

# Observation Report

In this phase we have created dataset of India which contain State/ UT name , population , Literacy Rate , Area of each state.

As per above observation we can see that out of all the states Uttar Pradesh is highest in Population .

Kerela is highest in Literacy Rate .

Area of State is higher for Rajasthan.

In Union Teritories ::

Delhi is highest in population.

Lakshadweep is highest in Literacy Rate .

Jammu and Kashmir is highest in State Area.

I have mentioned the links above from where data is collect and used .